body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color:#000000;
}

h1 {
  font-style: Bold;
  color: #FFFFFF;
  text-align: center;
}
h2 {
  text-align: center;
  color: #FFFFFF;
}
p {
  text-align: center;
  color: #FFFFFF;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #FFFFFF;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FF0000;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FF0000;
  color: white;
}
.firstButton {
  position: absolute; top:90%; left:80%;
}
img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
table{
  color:#FFFFFF
}
iframe
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}